body {
    font-family: Arial, sans-serif;
    background-color: #041318;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #d6e1f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#display {
    font-size: 2em;
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #8d8f90;
}

#laps {
    margin-top: 20px;
}

#lapTimes {
    list-style-type: none;
    padding: 0;
}

#lapTimes li {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
